

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;

}

.top,
.footer {
    background-color: #1F2937;


}

.top {
    display: flex;
    flex-direction: column;
    padding: 0 150px 100px;
}


.header {
    margin-top: -10px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header {
    gap: 24px;
}


ul {
    list-style-type: none;
    display: flex;
}

a,
.top-content .left .text,
.sign-up {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB
    
}

.top-content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}

.top-content .left,
.top-content .right {
    width: 400px;

    flex: none;
    
}

.top-content .left .title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.top-content .right {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    margin-top: 8px;
    padding: 4px 16px;
    border-radius: 4px;
    border: none;
    background-color: #3882f6;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}
.information .title {
    padding: 48px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;

   
}

.box  {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    border: 4px solid lightblue;
}


.information .container {
    /* max-width: 600px; */
    display: flex;
    gap: 36px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.info .text {
    color: gray;
    width: 158px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 350px;

}

.quote-section .container .text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200px;
    color: rgb(78, 78, 78);
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.bottom {
    padding: 150px;
    display: flex;

}

.bottom .container {
    padding: 24px 72px;
    background-color: #3882f6;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    color: white;
    flex-grow: 1;
    gap: 5px;
    align-items: center;
    
}

.bottom .container .left .title {
    font-weight: bold;
}

.bottom .right{
    height: max-content;
    flex: none;
    margin-top: 8px;
    padding: 4px 16px;
    border-radius: 4px;
    border: none;
    background-color: #3882f6;
    border: solid white;


}

.bottom .left {
    flex: 1;
    min-width: 150px;
}

button a {
    color: white ;
}

.footer {
    padding: 36px;
    text-align: center;
    color: #F9FAF8;